header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-row-gap: 2rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  background: #031927;
  z-index: 1;
  border-bottom: 1px solid rgba(255,255,255,0.1);

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    font-weight: bold;
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a[aria-current="page"] {
    border-bottom: 1px solid white;
  }

  nav {
    ul {
      display: grid;
      gap: 2rem;
      list-style: none;
      list-style-position: inside;

      @media (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .menu-toggle {
    height: 24px;
    width: 24px;
    background: none;
    border: none;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  .nav-links {
    display: none;

    &.open {
      display: block;
    }

    @media (min-width: 768px) {
      display: block;
    }
  }
}
