.home {
  background: #06402b;
  color: #f9f7f2;

  .hero {
    /* background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    gap: 1rem;

    img {
      width: 100%;
      border-radius: 10px;
    }

    @media (min-width: 768px) {
      max-width: 65ch;
      margin-inline: auto;
    }
  }
}