.music {
  margin-top: 1rem;

  .songs {
    list-style: none;
    margin-top: 3rem;
    max-width: 100ch;
    margin-inline: auto;

    li {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 1rem;
      justify-items: center;
    }
  }
}