* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #266DD3;
  color: #ffd300;
}

main {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;

  article {
    grid-column: 2;
  }

 .hero {
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    gap: 1rem;
    height: 100%;
    align-content: center;
    height: 100svh;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    button {
      justify-self: start;
    }

    ul.links {
      list-style: none;
      display: grid;
      gap: 1rem;

      li {
        display: flex;
        align-items: center;
        font-size: clamp(1rem, 2.5rem, 5vw);
        transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);

        a {
          transition: color 0.2s ease-in-out;
        }

        svg {
          height: 2.5rem;
          width: 2.5rem;
          opacity: 0;
          transition: opacity 0.2s ease-in-out, transform .4s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.2s ease-in-out;

          path {
            fill: #000;
          }
        }

        &:hover {
          @media (hover: hover) {
            transform: translateX(3px);
            svg {
              opacity: 1;
              transform: translateX(3px);

              path {
                fill: #ffd300;
              }
            }

            a {
              color: #ffd300;
            }
          }
        }
      }
      

      @media (min-width: 768px) {
        border-left: 1px solid white;
        padding-left: 2rem;
      }
      
      a {
        font-size: clamp(1rem, 2.5rem, 5vw);
        font-weight: bold;
        text-decoration: none;
        color: inherit;
      }
    }
  }

  h1 {
    color: black;
    font-size: 10vw;
    font-size: clamp(3rem, 10vw, 10vw);
    font-weight: bold;
    line-height: 1;
    display: block;
    width: 100%;
    word-break: break-word; /* Ensures it breaks if a single word is too long */
    font-family: "Rama Gothic E W01 Heavy";

    span {
      color: #ffd300;
    }
  }
}

button {
  background: #197BBD;
  color: #ffd300;
  padding: 1rem;
  border: 1px solid #197BBD;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  min-height: 4rem;
  min-width: 15rem;
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);

  &:hover {
    transform: translateX(3px);
  }
}

p {
  font-size: clamp(1rem, 2rem, 5vw);
}