* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
  font-family: 'Noto sans', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  padding-block: 1rem;

  article {
    grid-column: 2;
  }
}

footer {
  padding: 1rem;
  background: white;
  text-align: center;
}