<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/blackjack.css">
  <title>Chris Allen | BlackJack</title>
</head>
<body>
  <header>
    <button id="open-nav" class="icon open-nav"><i class="fa fa-solid fa-bars"></i></button>
  </header>

  <main>
    <article class="blackjack">
      
      <h1>BlackJack</h1>
      
      <div class="game-options">
        <button id="deal" class="deal-button">deal</button>
        <button id="hit" class="deal-button disabled">hit</button>
        <button id="stay" class="stay-button disabled">stay</button>
      </div>
      
      <section class="table">
        
        <div class="table-section">
          <div class="card-box">
            <div class="score">
              <h1>Dealer</h1>
              <h1 id="dealer-total-display"></h1>
            </div>
            <div class="hand" id="dealer-hand-display"></div>
          </div>
        </div>

        <div class="total-bet">Bet: $<span id="current-bet">0</span></div>

        <div class="table-section">
          <div class="card-box">
            <div class="score">
              <h1>Player</h1>
              <h1 id="player-total-display"></h1>
            </div>
            <div class="hand" id="player-hand-display"></div>
          </div>
        </div>

        <div id="player-chips-total"></div>
        <div id="player-chips" class="player-chips"></div>
      
      
      </section>
    </article>

  </main>

  <script src="../javascript/blackjack.js"></script>
</body>
</html>