<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/buttons.css">
  <link rel="stylesheet" href="../styles/todo.css">
  <title>Chris Allen | ToDo</title>
</head>
<body>
  <main>
    <article>
      <h1>Todos</h1>
      <p id="todo-list-status" class="todo-list-status"></p>

      <section class="todo">
        <div class="form">
          <input id="todo-input" type="text">
          <button id="add-btn" class="add-todo">add</button>
        </div>
        <div class="todo-list">
          <ul id="todo-list"></ul>
        </div>
      </section>
    </article>
  </main>

  <script src="https://kit.fontawesome.com/b2f7c419d3.js" crossorigin="anonymous"></script>
  <script src="/javascript/todo.js"></script>
</body>
</html>