
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Source+Sans+Pro&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --light-blue: #64ffda;
  --dark-blue: #0a192f;
}

body {
  background: var(--dark-blue);
  color: white;
}

main {
  position: relative;
  top: 5rem;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  padding: 5rem 0;
}

main section {
  grid-column: 2;
}
@media (min-width: 600px) {
  main {
    grid-template-columns: 150px 1fr 150px;
  }

  main section {
    padding: 0 100px;
  }
}

.opaque-title {
  opacity: 0.4;
}

.btn {
  border-color: white;
  min-width: 250px;
  padding: 1rem;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: rgba(100,255,218,0.3);
  transition: background 200ms;

}

.btn-primary {
  color: white;
  background: transparent;
  border-color: var(--light-blue);
}

a {
  color: var(--light-blue);
  transition: opacity 100ms;
}

a:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 100ms;
}