@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
  --light-orange-color: #ffc300;
  --dark-orange-color: #d90429;
  --black-color: #03071e;
  --big-title-font: clamp(3rem, 10vw, 10rem);
  --big-text-font: clamp(1.5rem, 4vh, 4rem);
  --warp-font-family: 'Tilt Warp', sans-serif;
  --transition-ease: 300ms ease;
  --mobile-viewport: 700px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  position: relative;
}

main {
  grid-column: 1  / 4;
}

section {
  min-height: 100vh;
  padding: 0 40px;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
}

section.top,
section.work {
  background: var(--light-orange-color);

}

@media(min-width: 700px) {
  section a {
    align-self; flex-end;
  }
}

.big-title {
  font-size: var(--big-title-font);
  font-family: var(--warp-font-family);
  color: var(--dark-orange-color);
}

.big-paragraph {
  font-size: var(--big-text-font);
  font-family: var(--warp-font-family);
  color: var(--dark-orange-color);
  transition: var(--transition-ease);
  margin-bottom: 1.5rem;
}

.black-text {
  color: var(--black-color);
}

.flashing-link {
  animation: flashing-link 3s infinite;
  font-size: var(--big-text-font);
  font-family: var(--warp-font-family);
  color: var(--dark-orange-color);
  transition: var(--transition-ease)
}

.hover-grow:hover {
  transform: scale(1.1);
  animation: none;
}

@keyframes flashing-link {
  from {
    opacity: 0.3;
  }
  
  50% {
    opacity: 1;
  }
  
  to {
    opacity: 0.3;
  }
}