.todo-list-status {
  opacity: 0.7;
  text-align: right;
  margin-bottom: 0.5rem;
}

section.todo {
  margin: 0;
  max-width: 100%;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 1rem;
}

section.todo div.form {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

section.todo button.add-todo {
  background: transparent;
  border: none;
  outline: none;
}

section.todo button.add-todo:hover {
  cursor: pointer;
  opacity: 0.8;
}

section.todo div.form input {
  padding: 0.8rem 0.8rem 0.8rem 0;
  border: none;
  width: 100%;
}

section.todo div.form input:focus {
  outline: none;
}

ul {
  list-style: none;
}

div.todo-list li {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}

div.todo-list li input {
  /* visibility: hidden; */
}

div.todo-list li input:hover {
  cursor: pointer;
}

div.todo-list li span {
  width: 100%;
  text-align: left;
}

div.todo-list li button {
  border: none;
  outline: none;
  background: none;
  display: none;
}

div.todo-list li:hover button {
  display: initial;
}

div.todo-list li button:hover {
  cursor: pointer;
}

li.completed span {
  text-decoration: line-through;
  color: rgba(0,0,0,0.3);
}
